$design-blue: #081674;
.design-blue {color: $design-blue;}
$design-blue-dark: #020c4e;
.design-blue-dark {color: $design-blue-dark;}
$design-pink: rgb(248,110,159);
.design-pink {color: $design-pink;}
$design-red: rgb(236,60,40);
.design-red {color: $design-red;}
$design-yellow: rgb(247,199,13);
.design-yellow {color: $design-yellow;}
