.equipment-buttons {
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  font-size: 13px;
  .equipment-button {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0);
    box-shadow: 0 0 7px 7px rgba(0,0,0,0.2);
    margin: 16px;
    padding: 10px;
    .button-icon, span {
      margin: 10px;
    }
    .button-icon {
      width: 80px;
      height: 80px;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 100%;
    }
    position: relative;
  }
}

.equipment-button-arrow {
  display: none;
  width: 26px;
  height: 15.5px;
  background-image: url('../img/equipment-arrow.png');
  background-size: contain;
  position: absolute;
  top: 100%;
}

.equipment-button-on {
  box-shadow: none !important;
  border: 2px solid rgb(56,0,250) !important;
  .equipment-button-arrow {
    display: block;
  }
}

@media screen and (min-width: 951px) {
  #equipment-buttons-L {
    padding-left: 3vw;
  }
  #equipment-buttons-R {
    padding-right: 3vw;
  }
}

.equipment-wrap {
  overflow: hidden;
}

.equipment-section {
  margin-top: -100%;
  transition: 0.2s margin-top;
  &.equipment-show {
    margin-top: 0;
  }
  .equipment-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    img, h3, a {
      margin: 15px;
    }
    h3 {
      flex: 1;
    }
    .equipment-header-icon {
      width: 80px;
    }
  }
}

.equipment-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  #equipment-buttons-L {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #equipment-buttons-R {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #equipment-sections-L {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  #equipment-sections-R {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 950px) {
  .equipment-grid {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    #equipment-buttons-L {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    #equipment-buttons-R {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    #equipment-sections-L {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    #equipment-sections-R {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
  }
}
