@import "colors";

.equipment-buttons {
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 13px;
  .equipment-button {
    flex: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    flex-grow:1;
    width:20%;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.06);
    margin: 16px;
    padding: 10px;
    transition: all 0.1s ease-in-out;
    &:hover {
      text-decoration: none;
      transform: scale(1.03);
    }
    .button-icon, span {
      margin: 10px;
    }
    .button-icon {
      width: 80px;
      height: 80px;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 100%;
    }
    position: relative;
  }
}

/*.equipment-button-arrow {
  display: none;
  width: 36px;
  height: 24px;
  background-image: url('../img/equipment-arrow.png');
  background-size: contain;
  position: absolute;
  top: 100%;
  margin-top:-7px;
}*/

.equipment-button-on {
  box-shadow: none !important;
  border: 2px solid $design-blue !important;
  .equipment-button-arrow {
    display: block;
  }
}

@media screen and (min-width: 951px) {
  #equipment-buttons-L {
    padding-left: 3vw;
  }
  #equipment-buttons-R {
    padding-right: 3vw;
  }
}

/*
Collapsable technique from
https://stackoverflow.com/a/43965099/509936
*/

.equipment-wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:after {
    content: '';
    height: 50px;
    transition: height 0.3s linear, max-height 0s 0.3s linear;
    max-height: 0px;
  }
}

.equipment-section {
  transition: margin-bottom 0.3s cubic-bezier(0, 0, 0, 1);
  margin-bottom: 0;
  max-height: 1000000px;
  &:not(.equipment-show) {
    margin-bottom: -2000px;
    transition: margin-bottom 0.3s cubic-bezier(1, 0, 1, 1),
                visibility 0s 0.3s, max-height 0s 0.3s;
    visibility: hidden;
    max-height: 0;
    &:after {
      height: 0;
      transition: height 0.3s linear;
      max-height: 50px;
    }
  }
  .equipment-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    .equipment-close {
      width:40px;
      height:40px;
      margin:0px;
      img {
        width:100%;
        height:auto;
        margin:0px;
      }
    }
    img, h3, a {
      margin: 15px;
    }
    h3 {
      flex: 1;
      text-align: left;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      color: $design-blue;
      padding-left: 2vw;
    }
    .equipment-header-icon {
      width: 80px;
    }
  }
  hr {
    border: none;
    background-color: rgb(237,232,255);
    height: 7px;
  }
  padding-left: 8vw;
  padding-right: 8vw;
}

.equipment-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  #equipment-buttons-L {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #equipment-buttons-R {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #equipment-sections-L {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  #equipment-sections-R {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 950px) {
  .equipment-grid {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    #equipment-buttons-L {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    #equipment-buttons-R {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    #equipment-sections-L {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    #equipment-sections-R {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
    .equipment-button {
      padding:4px;
      margin:10px;
      .button-icon {
        width:50px;
        margin:0px;
      }
    }
  }
}

.equipment-item {
  display: flex;
  .equipment-item-text {
    margin: 10px;
    text-align: left;
    h4 {
      margin: 10px;
      color: $design-blue;
      font-size: 18px;
    }
    h5 {
      margin: 10px;
      color: rgb(151,157,177);
      font-size: 13px;
    }
    p {
      margin: 10px;
    }
  }
  img {
    margin: 10px;
  }
}

@media screen and (min-width: 801px) {
  .equipment-item {
    flex-direction: row;
    .equipment-item-text {
      flex: 1;
      padding-right: 8vw;
    }
    img {
      max-height: 250px;
    }
  }
}

@media screen and (max-width: 800px) {
  #equipment {
    padding:0px;
  }
  .equipment-grid {
    padding:30px;
  }
  .equipment-item {
    flex-direction: column-reverse;
    align-items: center;
    img {
      width: 100%;
      max-width: 400px;
    }
  }
}

@media screen and (max-width: 500px) {
  .equipment-grid {
    padding:0px !important;
  }
}
