.footer {
  text-align: center;
  padding: 70px;
  font-family: League Spartan;
  font-weight: bold;
  font-size: 13px;
  a {
    color: rgb(56,0,250);
    margin-left: 12px;
    margin-right: 12px;
  }
  .copyright {
    color: rgb(229,101,196);
  }
}
