/*
  styled `ol` numbers using technique from
  https://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/
*/
.get-started {
  padding: 5vw;
  ol {
    display: flex;
    counter-reset: li; /* Initiate a counter */
    li {
      position: relative; /* Create a positioning context */
      list-style: none;
      &:before {
        content: "0" counter(li); /* Use the counter as content */
        counter-increment: li; /* Increment the counter by 1 */
        font-family: League Spartan;
        color: rgb(248,110,159);
        font-size: 60px;
      }
    }
  }
}

@media screen and (min-width: 751px) {
  .get-started {
    color: rgb(56,0,250);
    h2 {
      text-align: center;
    }
    ol {
      flex-direction: row;
      padding: 0;
      margin: 0;
      hr {
        display: none;
      }
      li {
        border: 2px solid rgb(56,0,250);
        padding: 15px;
        border-radius: 10px;
        margin: 25px;
        flex: 1;
        h3 {
          color: rgb(38,0,167);
        }
        &:before {
          position: absolute;
          background-color: white;
          left: -23px;
          top: -27px;
          padding-right: 15px;
        }
        padding-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .get-started {
    background-color: rgb(54,19,197);
    color: white;
    ol {
      flex-direction: column;
      padding: 0;
      hr {
        width: 95%;
        border: none;
        height: 8px;
        background-color: rgb(26,0,133);
        margin: 30px 0;
      }
      li {
        &:before {
          position: absolute;
          font-size: 50px;
        }
        h3 {
          padding-left: 95px;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
