@import "colors";

.hero {
  background-image: url('../img/pattern.jpg');
  background-size: cover;
  background-position: center;
  color: $design-blue;
  font-weight: bold;
  display:flex;
  align-items: center;
  background-attachment: fixed;
  height:92vh;
  .hero-inner {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height:auto;
    width:80vw;
    font-size:14px;
    font-weight:400;
    h1, div {
      margin: 30px;
    }
    .hero-logo {
      width: 40vw;
      max-width: 550px;
    }
  }
}

@media screen and (max-width: 750px) {
  .hero {
    padding: 0;
    background:#fff;
    .hero-inner {
      width:100%;
      flex-direction: column;
      h1, div {
        margin: 5vw;
      }
      .hero-logo {
        width: 100%;
        max-width: none;
      }
    }
  }
}
