.hero {
  background-image: url('../img/pattern.jpg');
  background-size: cover;
  background-position: center;
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: rgb(56,0,250);
  font-weight: bold;
  .hero-inner {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    h1, div {
      margin: 30px;
    }
    .hero-logo {
      width: 50vw;
      max-width: 550px;
    }
  }
}

@media screen and (max-width: 750px) {
  .hero {
    padding: 0;
    margin-top: 40px;
    .hero-inner {
      flex-direction: column;
      h1, div {
        margin: 5vw;
      }
      .hero-logo {
        width: 100%;
        max-width: none;
      }
    }
  }
}
