.hero {
  background-image: url('../img/pattern.jpg');
  background-size: cover;
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: rgb(56,0,250);
  font-weight: bold;
  .hero-inner {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    h1, div {
      margin: 30px;
    }
  }
}
