.desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding: 8px;
  a {
    margin-left: 12px;
    margin-right: 12px;
  }
}
